# Environments
env/
venv/
ENV/
.env

# Pycache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and Workspace Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
# Ignore test videos and output folders completely
testVideo/
testVideo2/
testvideo2/
textvideo2/
output/
outputVideo/

# Ignore compiled video assets
*.mp4
*.avi
*.mov
*.mkv
*.webm
